.tbmetrics{
    border-radius: 5px;
    border: 2px solid  var(--table_border);
    animation: apear_table 0.5s alternate forwards ease-in-out ;
}

#tbmet, #tbmet>tbody>tr>td, #tbmet>tbody>tr>th{
    border: 2px solid var(--table_border);
    border-collapse: collapse;
}
#tbmet>tbody>tr{
    height: 30px;
}

#tbmet>tbody>tr>td, #tbmet>tbody>tr>th{
    text-align: center;
    padding: 10px;
}

@keyframes apear_table {
    0%{
        scale: 1;
        opacity: 0;
    }
    50%{
        scale: 1.03;
        opacity: 0.5;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
    
}
.tbmet_placehoder{
    width: 300px;
    min-width: 300px;
    height: 300px;
    background: var(--session_holder_gradiat);
    /*this animation is from session_slider.css*/
    animation: gradiant_animation 1s linear forwards infinite;
    background-size: 200% 400%;
    border-radius: 10px;
    filter: blur(5px);

}