.editormask{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
}
.editor_on_hold{
    background-color: rgba(0, 0, 0, 0.151);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.editor{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.waitIcon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../../public/wait.svg);
    width: 50px;
    height: 50px;
    animation: rotate_animation_wait_icon 3s  cubic-bezier(.27,.98,.56,.81) infinite;
}
@keyframes rotate_animation_wait_icon {
    from{
        rotate: 0deg;
        scale: 1;
    }

    to{
        rotate: 360deg;
        scale: 1.04;
    }
}
.dark .waitIcon{
    background-image: url(../../../public/wait_dark.svg);
}
.savedcode{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    background-color: rgba(181, 255, 181, 0.103);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    animation: saved 2s alternate forwards ease-in-out;
}
@keyframes saved {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    50%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
.editorsettings{
    background-color: var(--divs_colors);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
#fontsize:hover, #language:hover{
   
}

#fontsize, #language{
    min-width: 50px;
    border-radius: 10px;
    font-size: medium;
    padding: 2px;
}
.taskathand{
    background-color: var(--divs_colors);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.topics{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.topic{
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(65, 188, 245);
}